@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.avatar{
/* background-color: red; */
padding: 10px;
}

.statusItem{
 display: flex;
 flex-flow: row wrap;
 justify-content: space-between;
  }

.rows{
 display: flex;
 flex-flow: row wrap;

}


.banner{
  background-image: url(./davies-main-banner.jpg);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
 
    
  
  
}

.statuslist{
  background-color: #FBD38D;
  padding: 30px
}

.parent{
 /* background-color: red; */
 margin: 10px;
 padding: 30px;
 height: 600px;
 display: flex;
 flex-flow: row wrap;
 align-items: flex-start;
 justify-content:  flex-start;
}
.tableTitledesc{
  display:flex;
  flex-flow: row wrap;
}
.panel{
  display: flex;
  flex-flow: row wrap;
  
}

.card-container > .ant-tabs-card > .ant-tabs-content {
  height: 120px;
  margin-top: -16px;
}

.card-container > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
  background: #fff;
  padding: 16px;
}

.card-container > .ant-tabs-card > .ant-tabs-bar {
  border-color: #fff;
}

.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
  border-color: transparent;
  background: transparent;
}

.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
  border-color: #fff;
  background: #fff;
}

.orderitemtable{
  position: relative;
  /* background-color: pink;
  margin: 5px;
  flex: 1 1 300;
  width: 300;
  border: "1px solid #d9d9d9";
  border-radius: 4 ;
  overflow: auto; */
  margin: 5px;
  /* background-color: pink; */
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  overflow: auto;
  padding: 8px 24px;
  height: 330px;
  flex: 1 1 auto;
}

.history{
  /* background-color: pink; */
  margin: 5px;
  display: flex;
  flex: 1 1 auto;
  flex-flow: row wrap;
  /* width: 300; */
  border: "1px solid #d9d9d9";
  border-radius: 4 ;
  align-items: center;
}
.content1orders{
  /* background-color: blue; */

  margin: 5px;
  flex: 1 1 auto;
  display: flex;
  flex-flow: column wrap;
 
 }
.content1{
 /* background-color: blue; */
 width: 800px;
 margin: 5px;
 flex: 1 1 auto;
 display: flex;
 flex-flow: column wrap;

}

.content2{
  background-color: silver;
  margin: 5px;
  padding: 5px;
  height: 500px;
  flex: 1 1 auto;

  
}


.ant-divider-horizontal.ant-divider-with-text-left::before,
.ant-divider-horizontal.ant-divider-with-text-left::after
{
   border-top: 1px solid black;
}
.status{
  /* background-color: grey; */
 margin: 5px;
 flex: 1 1 auto;
 display: flex;
 flex-flow: column wrap;
}



.masterlist{
  /* background-color: blue;s */
 margin: 5px;
 flex: 1 1 auto;
 display: flex;
 flex-flow: column wrap;
}

.demo-infinite-container {
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  padding: 8px 24px;
  height: 300px;
}

.searchandsort{
  display: flex;
  flex-flow: row wrap;
}

.calendar{
  display: flex;
  flex-flow: row wrap;
}
.calendar1{
  /* background-color: pink; */
  margin: 5px;
  flex: 1 1 auto;
  width: 300;
  border: "1px solid #d9d9d9";
  border-radius: 4 ;
}



.search{
  /* background-color: pink; */
  margin: 5px;
  flex: 1 1 auto;
  width: 300;
  border: "1px solid #d9d9d9";
  border-radius: 4 ;
}

.sort{
  /* background-color: red; */
  margin: 5px;
  display: flex;
  flex: 1 1 auto;
  flex-flow: row wrap;
  width: 300;
  border: "1px solid #d9d9d9";
  border-radius: 4 ;
  align-items: center;
}

.list{
  /* background-color: pink;
  margin: 5px;
  flex: 1 1 300;
  width: 300;
  border: "1px solid #d9d9d9";
  border-radius: 4 ;
  overflow: auto; */
  margin: 5px;
  /* background-color: pink; */
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  overflow: auto;
  padding: 8px 24px;
  height: 330px;
  flex: 1 1 auto;
}




.logo {
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  width: 80%;
  height: 80px;
  margin: 10px;
  background-image: url("pots.jpg");
  margin-bottom: 50px;
  margin-left: 20px;
  
}

.logo-login {
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
  margin: 10px;
  background-image: url("davies.png");

  margin-left: 45px;
}

.truck {
  display: flex;
  flex: 1 1 auto;
  background-size: contain;
  background-repeat: no-repeat;
  width: 180%;
  height: 100%;
  margin-top: -55px;
  background-image: url("truck.png");
  margin-left: 450px;
  position: absolute;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}