
@import '~antd/dist/antd.css';

.App {
  text-align: center;
}


.main {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.date {
  text-align: left;
}

.Datetoday {
  position: relative;
  margin-top: -30px;
}

.Adminavatar {
  position: relative;
  margin-top: -70px;
}

.container-userinfo {
  margin-left: 100px;
  margin-top: -30px;
}

.container-dashboard {

  background-color: peachpuff;
}

.truckdelivery {

 position: absolute;
  margin-left: 500px;
  margin-top: -300px;
  
}

.subcontainer-dashboard {
  padding: 20px;
}

.logo {
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  width: 90%;
  height: 80px;
  margin: 10px;
  background-image: url("pots.jpg");
  
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
